

/* Background Images of Pages */

/*Login Page BG*/
a{
	color: #fff;	
}

.bgimage{
	background-image: url("img/bg.jpg");
	background-repeat: no-repeat; 
	/*background-position: center;*/
	background-size: cover;

}

/*Dashboard page BG*/

.dbbgimage{
	background-image: url("img/dashboard-bg.jpg");
	background-repeat: no-repeat; 
	/*background-position: center;*/
	background-size: cover;

}

/*Appointment page BG*/

.apbgimage{
	background-image: url("img/ap-bg.jpg");
	background-repeat: no-repeat; 
	/*background-position: center;*/
	background-size: cover;

}

/*Settings page BG*/

.spbgimage{
	background-image: url("img/settings-bg.jpg");
	background-repeat: no-repeat; 
	/*background-position: center;*/
	background-size: cover;

}

/*Superadmin page BG*/

.superbgimage{
	background-image: url("img/bg.jpg");
	background-repeat: no-repeat; 
	/*background-position: center;*/
	background-size: cover;

}

/*Logout page BG*/

.logoutbgimage{
	background-image: url("img/logout.jpg");
	background-repeat: no-repeat; 
	/*background-position: center;*/
	background-size: cover;

}

/* ----End of Background Images of Pages---- */


/* Form control placeholder text properties */

.form-control::-webkit-input-placeholder {
  color: #C1769A;
  text-align: center;
}

/* ----End of Form control placeholder text properties---- */

/* login page styles */


.topspace{
	margin-top: 300px;
}

#bpbutton{
	background-color: #C1769A;
	color: #ffffff;
}

/* ----End of login page styles---- */


/*Nav style*/

.themecolor{
	background-color: #C1769A;
	color: #C1769A;
}


/*Infobox for dashboard*/

@media only screen and (min-width: 600px) {  

.infobox{
	margin-top: 10px;
	font-size: 1rem;
	text-align: center;
	padding: 12px;
	background : #C1769A;
    color: #fff;
    border-radius : 12px;
    -moz-border-radius : 12px;
    -webkit-border-radius : 12px;
}

}


@media only screen and (min-width: 768px) {
  
.infobox{
	font-size: 1.2rem;
	text-align: center;
	padding: 12px;
	background : #C1769A;
    color: #fff;
    border-radius : 12px;
    -moz-border-radius : 12px;
    -webkit-border-radius : 12px;
}

}



/*Top Space*/

@media only screen and (min-width: 992px) {...}

.topspacefordasboard{
	margin-top: 150px;
}

@media only screen and (min-width: 768px) {...}

.topspacefordasboard{
	margin-top: 100px;
}
@media only screen and (min-width: 600px) {...}

.topspacefordasboard{
	margin-top: 50px;
}

.dbox{
	font-size: 1.2rem;
	text-align: center;
	padding: 40px;
	background : #C1769A;
	color: #fff;
	margin: 5px;
	height: 120px;
 
}

.main-nav-bgcolor{
	margin-top: 10px;
	background-color: #eb2182;
}

.main-nav-button-bg{
	background-color: #eb2182;
}


/*Superadmin Page Styles*/

.secondary-nav-bgcolor{
	margin-top: 5px;
	background-color:#b50e5e;
}

.secondary-nav-buttonbg{
	background-color:#b50e5e;
}


/*Backup Page Styles*/

.menu-button-style{
	background-color:#eb2182;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 1.5rem;

}

.menu-button-style-active{
	background-color:#b50e5e;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 1.5rem;
	font-weight: bold;

}

.menu-button-style:hover{
	color: #fff;
	background-color:#b50e5e;
	text-decoration: none;
}


.submenu-button-style-active{
	background-color:#eb2182;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 1.5rem;
	font-weight: bold;

}

.submenu-button-style{
	background-color:#b50e5e;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 1.5rem;

}


.submenu-button-style:hover{
	color: #fff;
	background-color:#eb2182;
	text-decoration: none;
}

.anchor-color{
	color: #fff;
}

a:hover{
	color: #fff;	
	text-decoration: none;
}


/*Dashboard Page styles*/

.topdiv{
	background-color:#C1769A; 
	color: #fff;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
}

/*Sales page styles*/

.slaesdiv{
	background-color: #eb2182;
}

.topdiv-sales-topbar{
	background-color:#C1769A; 
	color: #fff;
	padding: 5px;
	/*margin-top: 5px;*/
	text-align: center;
}

.topdiv-sales{
	background-color:#C1769A; 
	color: #fff;
	padding: 10px;
	margin-top: 5px;
	text-align: center;
}

/*Styles for report Page*/

.ceteralign{
	text-align: center;
}

/*Styles for Assets Page*/

.topdiv-assets{
	background-color:#C1769A; 
	color: #fff;
	padding: 10px;
	margin-top: 5px;
	text-align: center;
}


/*Styles for Accounts page*/

.topdiv-accounts{
	background-color:#C1769A; 
	color: #fff;
	padding: 10px;
	margin-top: 5px;
	text-align: center;
}


/*Styles for Logout Page*/

.topdiv-logout{

	padding:10px;
	padding: 10px;
	margin-top: 250px;

}
